.img-box{
	column-count: 4;
	column-gap: 0;
	width:100%;
	margin: auto;


}
.image{
	max-width: 100%;
	display: black;
	filter: hue-rotate(9000deg);
    transition: 1s;
}
.image:hover{
	filter: hue-rotate(0);
}
.image+.image{
	margin: 5px;
}
h1{
width: 100%;
text-align: center;
border: 2px solid greenyellow;
color: green;

}
body{
	background-color: black;
}
@media all and (max-width:900px){
	.img-box{
		column-count: 2;
	}
}